.buttons
{
    width: 400px;
    padding: 10px 15px;
    overflow: hidden;
    display: flex; 
    justify-content: space-between;
    margin: 0 auto;
}

.buttons button:hover 
{
    background:#d3d4d6;
    transition: 0.7s;
}

.buttons button:active 
{
    background:#ababab;
}

.buttons button
{
    border: none;
    outline: none;
    padding: 10px 15px;
    background: #f3f3f3;
    color: black;
    font-size: 16px;
    border-radius: 8px;
}