@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body,
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif !important;
  line-height: 1.375;
  letter-spacing: 0px;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
span.heading {
  text-transform: uppercase;
}

#root {
  min-height: 100vh; /* set page height to 100% */
  display: flex;
  flex-direction: column;
}

.col,
.row {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.small-text {
  font-size: 10px;
}

.site-header {
  right: 0;
  left: 0;
  height: 76px;
}

.site-header-employee {
  position: fixed !important;
}

.site-header,
.site-footer {
  background-color: #00180e;
  padding: 20px 0 20px 20px;
  color: #fff;
  z-index: 100;
}

.p-1.header-cart-quantity {
  color: #fff;
  font-size: 12px;
}

.site-footer.container-fluid {
  background-color: #00180e;
  padding-top: 20 !important;
  padding-right: 0 !important;
  padding-bottom: 20 !important;
  padding-left: 0 !important;
  color: #fff;
  margin-top: auto;
}

.center-align {
  display: flex;
  align-items: center;
}

.d-flex.justify-content-center.col {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-link {
  color: #fff !important;
}

.logo-link:visited {
  color: #fff !important;
}

.d-flex {
  padding-top: 10px;
}

.btn {
  margin-right: 10px;
  border-radius: 20px;
  padding: 10px;
  border: none;
}

.col-sm-auto {
  margin-right: 10px;
}

.shopping-cart-header {
  color: #c2e7d3;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.shopping-cart-header:hover {
  color: #9dd9b9;
}

.bi.bi-list {
  font-size: 25px;
  color: #fff;
}

.d-flex.justify-content-end.col-1,
.d-flex.justify-content-start.col-1,
.dropdown-toggle.nav-link {
  padding: 0px;
}

a.dropdown-toggle.nav-link::after,
button.dropdown-toggle.btn-light.btn-sm::after {
  display: none;
}

.dropdown-menu.show {
  border-radius: 0;
}

.social-media {
  color: #98a099;
  margin: 0;
  padding: 3px !important;
  font-size: 25px;
  transition: 0.5s;
}

.social-media:hover {
  color: #fff;
}

.row.row-filter {
  margin-bottom: -1px;
  padding: 10px !important;
  border: 1px solid #eee;
}

.carousel-control-prev,
a.carousel-control-prev {
  display: none;
}

a:link {
  text-decoration: none;
}

.main-shop-page-filter {
  @media screen and (max-width: 576px) {
    display: none;
  }
}

.btn.mobile-filter {
  @media (min-width: 577px) {
    display: none;
  }
}

.dropdown-menu.show {
  padding: 15px;
  width: 200px;
}

.card {
  border: none !important;
}

.shopping-cart-list-container {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  min-height: 100%;
  padding: 15px;
  margin: 0px;
}

.right-cart-container {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 576px) {
    padding: 0px !important;
  }
}

.shopping-cart-message,
.cart-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-item {
  background-color: #fff;
  border-radius: 5px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-cart-image {
  width: 200px;
  max-height: 180px;
  object-fit: contain;
  margin-left: 10%;
}

.quantity-button,
.quantity-amount {
  max-width: 25px !important;
  border-radius: 0px !important;
  border: 1px solid #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0;
}

.item-info {
  margin-left: 50px !important;
}

.cart-total-main-container {
  background-color: #fff;
  width: 45%;
  padding: 15px;
  border-top: 50px solid #f3f3f3;
  border-bottom: 50px solid #f3f3f3;
  border-left: 15px solid #f3f3f3;
  border-right: 15px solid #f3f3f3;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  position: fixed;
  @media screen and (max-width: 576px) {
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0;
    position: static;
    width: 100%;
  }
}

.shop-container.col-md-6.col-12 {
  padding-left: 0px;
  padding-right: 0px;
  min-height: 70vh;
  @media screen and (max-width: 576px) {
    min-height: auto;
  }
}

.btn {
  border: 0px !important;
  border-radius: 0px !important;
}

.btn-success {
  background-color: #c2e7d3 !important;
}

.btn-success:hover {
  background-color: #9dd9b9 !important;
}

.btn-dark:hover {
  background-color: #00321d !important;
}

.copyright {
  border-top: 1px solid #00321d;
  padding: 10px 0px !important;
  margin-top: 10px !important;
}
