*
{
    margin: 0;
    padding: 0;
    font-family: "Arial" ;
    box-sizing: border-box;
}

.product
{
    padding: 30px 300px;
    width: 100%;
    margin: auto 60px;
}

.product .container
{
    display: flex;
    flex-wrap: wrap;
}

.product .container .box
{
    padding: 10px 20px;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border: .5px solid #c5c5c5;
}

.product .container .box .img_box img
{
    max-width: 80%;
    max-height: 80%;
    padding: 10px,10px;
    margin: auto 25px;
    cursor:pointer;

}

.product .container .box .img_box .title
{
    padding: 20px 10px;
    cursor:pointer;
    font-size: 20px;
}

.product .container .box .img_box .price
{
    padding: 0px 100px;
    color: rgb(115, 115, 115);
    font-size: 20px;
}

.buttons
{
    width: 400px;
    padding: 10px 15px;
    overflow: hidden;
    display: flex; 
    justify-content: space-between;
    margin: auto 740px;

}

.buttons button:hover 
{
    background:#d3d4d6;
    transition: 0.7s;
}

.buttons button:active 
{
    background:#c6c7c9;
}

.buttons button
{
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    background: #f8f9fa;
    color: black;
    font-size: 16px;
    border-radius: 8px;
}

.snacksButton2
{
    border: none;
    display: flex;
    justify-content: space-between;
    outline: none;
    cursor: pointer;
}

.checkboxes
{
    float: left;
    margin: 200px 10px 10px 150px;
    font-size: 20px;
}

.categoryTitle
{
    font-size: 50px;
    margin: 15px 355px;
    margin: -57px 0px 0px 365px;
}

.caret-dropdown
{
    display: flex;
}

.caret-dropdown .filterText
{
    margin: 50px 0px 0px 1245px;
}

.caret-dropdown .filter
{
    margin: 72px 0px 0px -37px;
}

.caret-dropdown .sortText
{
    margin: 50px 0px 0px 30px;
}

.caret-dropdown .sort
{
    margin: 72px 0px 0px -30px;
}